<button mat-button color="warn" (click)="mostrarMsg('He pulsado un botón')">Un botón</button>

<button mat-raised-button disabled>Botón con sombra</button>
<button mat-raised-button color="primary">Botón con sombra</button>
<button mat-flat-button color="accent">Botón sin sombra</button>

<button mat-stroked-button disableRipple color="warn">Botón con borde</button>

<button mat-fab color="primary">+</button>
<button mat-mini-fab>-</button>

<button mat-fab color="primary">
  <mat-icon>code</mat-icon>
</button>

<button mat-icon-button>
  <mat-icon>favorite</mat-icon>
</button>
<button mat-icon-button>
  <mat-icon>delete</mat-icon>
</button>

<a mat-raised-button href="http://www.google.com" target="_blank">Ir a google</a>